<div class="min-h-screen flex items-center justify-center px-6 py-12" style="background-image: url(<%= asset_path 'background-image.png' %>); background-size: cover; background-position: center;">
  <div class="bg-white/90 dark:bg-gray-800/90 shadow-lg rounded-lg p-8 max-w-md w-full">
    <h2 class="text-3xl font-bold text-[#AE150D] text-center mb-8">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "space-y-6") do |f| %>
      <!-- Grouped Email and Password Fields -->
      <div class="space-y-6">
        <!-- Email Field -->
        <div class="space-y-2">
          <%= f.label :email, "Email", class: "block text-sm font-medium text-[#3D5926]" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full px-4 py-3 border border-[#FDD365] rounded-lg shadow-sm focus:ring-[#FC8F00] focus:border-[#FC8F00] bg-[#FDEDD6] text-[#3D5926]" %>
        </div>

        <!-- Password Field -->
        <div class="space-y-2">
          <%= f.label :password, "Password", class: "block text-sm font-medium text-[#3D5926]" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-4 py-3 border border-[#FDD365] rounded-lg shadow-sm focus:ring-[#FC8F00] focus:border-[#FC8F00] bg-[#FDEDD6] text-[#3D5926]" %>
        </div>
      </div>

      <!-- Remember Me and Forgot Password -->
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center py-3">
          <%= f.check_box :remember_me, class: "w-4 h-4 text-[#FC8F00] border-gray-300 rounded focus:ring-[#FC8F00] bg-[#FDEDD6]" %>
          <%= f.label :remember_me, class: "ml-2 text-sm font-medium text-[#3D5926]" %>
          <a href="<%= new_password_path(resource_name) %>" class="ml-auto text-sm font-medium text-[#FC8F00] hover:underline">Forgot password?</a>        </div>
      <% end %>

      <div class="flex justify-between items-center">
     
      </div>

      <!-- Submit Button -->
      <div class="mt-6">
        <%= f.submit "Log in", class: "w-full bg-[#AE150D] text-white font-medium py-3 rounded-lg hover:bg-[#FC8F00] focus:ring-4 focus:ring-[#FDD365] focus:outline-none transition duration-300" %>
      </div>
    <% end %>

    <!-- Sign Up Link -->
    <div class="text-sm text-center mt-6 text-[#3D5926]">
      Don’t have an account yet? <%= link_to "Sign up", new_registration_path(resource_name), class: "font-medium text-[#AE150D] hover:underline" %>
    </div>
  </div>
</div>
